h5py==2.7.1
keras==2.0.8
keras-contrib==2.0.8
matplotlib==2.1.1
numpy==1.14.0
pandas==0.22.0
Pillow==5.0.0
scikit-image==0.13.1
scikit-learn==0.19.1
scipy==1.0.0
tensorboard==1.6.0
tensorflow==1.15.0
tensorflow-tensorboard==1.5.1
tqdm==4.19.5
